<div class = "center">
  <form action="/signin" method="post">
    <div>
      <div>
        <input type="text" name="mail" placeholder="Eメール"><br>
        <input type="password" name="password" placeholder="パスワード"><br>
      </div>
      <div>
        <input id="submit_bottun" type="submit" value="ログイン"><br>
      </div>
    </div>
  </form>
</div>